@import "tailwindcss";

.container{
    max-width: 1187px;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
}
input{
    outline: none;
    border: none;
}

hr{
    color: #ddd;
}
s{
    color: #9e9d9d;
}